<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sample">

    <select id="selectMemberList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT  * FROM members AS A
        LEFT JOIN cellmembers AS B ON A.member_idx=B.member_idx LEFT JOIN cells AS C ON B.cell_idx=C.cell_idx;
    </select>

    <insert id="insertMember" parameterType="java.util.HashMap">
        INSERT INTO members (member_name,birthday,phone,email,createdDate,address) values(
        #{member_name},#{birthday},#{phone},#{email},
        #{createdDate},#{address}
        )
    </insert>

    <insert id="insertCell" parameterType="java.util.HashMap">
        INSERT INTO cells (cell_name,period)VALUES(
        #{cell_name}, #{period}
        );
    </insert>

    <select id="selectOneMember" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        select * from members where member_idx=#{memberID}
    </select>

    <update id="updateMember" parameterType="java.util.HashMap">
        UPDATE members
        SET member_name=#{member_name},birthday=#{birthday},phone=#{phone},email=#{email},address=#{address}
        WHERE member_idx=#{member_idx}
    </update>

    <delete id="deleteMember" parameterType="java.lang.Integer">
        DELETE FROM members WHERE member_idx=#{memberID};
    </delete>

    <delete id="deleteCell" parameterType="java.lang.Integer">
        DELETE FROM cells WHERE cell_idx=#{cellID};
    </delete>

    <select id="selectCellList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
       SELECT * FROM cells as a
       LEFT JOIN members as b ON a.cell_leader_idx = b.member_idx;
    </select>

    <!--<update id="updateCell">-->
    <!--UPDATE cells A INNER JOIN members B ON A.cell_leader_idx=B.member_idx SET A.cell_leader_name=B.member_name;-->
    <!--</update>-->

    <!--<update id="updateCellMember" parameterType="java.util.HashMap">-->
    <!--UPDATE cellmembers A INNER JOIN members B ON A.member_idx=B.member_idx SET A.member_name=B.member_name, A.birthday=B.birthday;-->
    <!--</update>-->

    <update id="updateCellMembers" parameterType="java.util.HashMap">
        UPDATE cellmembers SET cell_idx=#{cell_idx} WHERE member_idx=#{member_idx};
    </update>

    <select id="selectCellMemberEx" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT * FROM cellmembers as A
        LEFT JOIN members as B ON A.member_idx=B.member_idx
        LEFT JOIN cells AS C ON A.cell_idx=C.cell_idx
        WHERE A.cell_idx!=#{cellID} AND A.member_idx!=C.cell_leader_idx ORDER BY C.cell_idx ASC;
    </select>

    <select id="selectCellListByID" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT * FROM cells AS A LEFT JOIN members as B ON A.cell_leader_idx=b.member_idx WHERE A.cell_idx=#{cellID};
    </select>

    <select id="selectCellMemberList" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT * FROM cellmembers as a
        LEFT JOIN members as b ON a.member_idx = b.member_idx WHERE a.cell_idx=#{cellID};
    </select>

    <select id="selectMemberListByName" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT * FROM cellmembers as A
        LEFT JOIN members as B ON A.member_idx = B.member_idx WHERE member_name LIKE CONCAT('%',CONCAT(#{keyWord},'%'));
    </select>

    <select id="selectMemberListByPhone" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT * FROM cellmembers as A
        LEFT JOIN members as B ON A.member_idx = B.member_idx WHERE phone LIKE CONCAT('%',CONCAT(#{keyWord},'%'));
    </select>

    <select id="selectMemberListByCell" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT * FROM cellmembers as A
        LEFT JOIN members AS B ON A.member_idx = B.member_idx LEFT JOIN cells AS C ON A.cell_idx=C.cell_idx
        WHERE C.cell_name LIKE CONCAT('%',CONCAT(#{keyWord},'%'));
    </select>

    <update id="setLeader" parameterType="java.util.HashMap">
        UPDATE cells SET cell_leader_idx=#{member_idx} WHERE cell_idx=#{cell_idx};
    </update>

    <select id="selectReport" parameterType="java.lang.Integer" resultType="java.util.HashMap">
        SELECT * FROM reports WHERE cell_idx=#{cellID}
    </select>


    <update id="addCellMember" parameterType="java.util.HashMap">
        UPDATE cellmembers SET cell_idx=#{cellID} WHERE member_idx=#{memberID};
    </update>
</mapper>
